################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BGA2SVM/v15/Browse.VC.opendb
/.vs/BGA2SVM/v15/Browse.VC.db
/.vs/*
/cmake-build/*